html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  display: grid;
  grid-template: 95% 5% / 100%; /*row-template / column-template */
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate{
  width: 500px;
  height: 500px;
  border: 5px solid red;
}

.cell{
  /* width:10px;
  height: 10px; */
  background-color: white;
  border: 1px solid black;
  cursor: default;
  user-select: none;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}